            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu">
                <div class="container-fluid">

                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu  ">
                        <ul class="nav navbar-nav">
                                
                                <%= partial partials_desktop_home + "/common-partials/page-header-menu/_dashboard-menu" %>
                                <%= partial partials_desktop_home + "/common-partials/page-header-menu/_daily-report-menu" %>
                                <%= partial partials_desktop_home + "/common-partials/page-header-menu/_kpi-menu" %>
                                <%= partial partials_desktop_home + "/common-partials/page-header-menu/_service-level-menu" %>
                                <%= partial partials_desktop_home + "/common-partials/page-header-menu/_management-level-menu" %>

                        </ul>
                    </div>
                    <!-- END MEGA MENU -->
                </div>
            </div>
            <!-- END HEADER MENU -->